@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

* {
	box-sizing: border-box;
}

body {
	font: normal normal 13px/16px 'Poppins', sans-serif;
	background: #e1eec3; /* Fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#f05053,
		#e1eec3
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#f05053,
		#e1eec3
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Container styling */

.container {
	padding: 20px;
	width: 50%;
	max-width: 500px;
	min-width: 300px;
	margin: 0 auto;
	margin-top: 40px;
	background: #ffffff;
	border-radius: 5px;
}

/* Form styling */

form {
	display: inline-block;
}

input {
	padding: 5px;
	width: 300px;
	line-height: 1.5em;
}

/* Button styling */

#button {
	display: inline-block;
	background-color: #f05053;
	color: #ffffff;
	border-radius: 5px;
	text-align: center;
	margin-top: 2px;
	padding: 7px 15px;
}

#button:hover {
	cursor: pointer;
	opacity: 0.8;
}

/* List styling */

ol {
	padding-left: 20px;
}

ol li {
	padding: 20px;
	color: #000;
	height: auto;
	word-wrap: break-word;
	cursor: pointer;
}

ol li:nth-child(even) {
	background: #e2e2e2;
	border-radius: 5px;
}

/* Strike through styling */

.strike {
	text-decoration: line-through;
}

li:hover {
	cursor: pointer;
}

/* Delete class to delete list item */
.delete {
	display: none;
}

/* "X" Delete list item styling */

li > crossOutButton {
	background: none;
	border: none;
	float: right;
	color: #f05053;
	font-weight: 900;
}

/* Media query */

@media all and (max-width: 850px) {
	body {
		font-size: 1em;
	}

	input {
		width: 200px;
		transition: all ease-in-out 0.4s;
	}
}
